body {
  font-family: 'Montserrat'
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color:#fff;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-toggle{
  background-color:#1F78FF;
}
.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 12px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color:#fff;
  background-color: #1F78FF;
}
.navbar-inverse .navbar-nav  li a {
  color: #000000;
}
.Title{
  font-weight:800;
}
.aboutMe{
  background-color: #1F78FF;
  color: #fff;
  font-weight: 200;
  padding: 10%;
  padding-bottom: 20%;
  margin-bottom:0;
}
.panel img {
  max-width: 100px;
  max-height: 100px;
}
.panel {
  margin: 3%;
}
.panel p, li {
  font-size: 18px;
}
.panel-title{
  color: #1F78FF;
  font-weight: bolder;
}
.carousel-caption{
  top: 60%;
  transform:translateY(-30%);
  text-transform: uppercase;
}
.comp-img div {
  margin:-60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  font-size: 18px;
  color: #fff;
  padding: 12px 22px;
  background-color: #eca95b;
  border: 2px solid #fff;
}
.container {
  margin: 4% auto;
  width: auto;
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
#emjoiIcon{
  max-width: 200px;
  margin: 1% auto;
  margin-bottom: 80px;
}
#compgraph{
  height: 20%;
  width: 60%;
  padding: 0;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  width: 100%;
  background-color: #1F78FF;
  color: #FFF;
  padding: 5%;
}
.fa{
  padding: 15px;
  font-size: 30px;
  color: #fff;
}
fa:hover {
  color:#D5D5D5;
  text-decoration: none;
}

@@media (max-width: 600px;) {
  .carousel-cation{
    display:none;
  }
  #icon{
    max-width: 150px;
  }
  h2{
    font-size: 1.7em;
  }
}
@@media (max-width: 900px;) {
  .fa{
    font-size: 20px;
    padding: 10px
  }
}
